altair==5.5.0
aniso8601==10.0.1
annotated-types==0.7.0
anyio==4.9.0
apispec==6.6.1
apispec-webframeworks==1.1.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
asttokens==3.0.0
async-lru==2.0.5
attrs==25.3.0
Automat==25.4.16
autopep8==2.3.2
autoviz==0.1.905
babel==2.17.0
beautifulsoup4==4.13.4
bidict==0.23.1
binaryornot==0.4.4
bleach==6.2.0
blinker==1.9.0
bokeh==3.7.3
boto3==1.34.113
botocore==1.34.162
branca==0.8.1
Brotli==1.1.0
bs4==0.0.2
certifi==2025.4.26
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.3.2
click==8.2.1
colorama==0.4.6
colorcet==3.1.0
comm==0.2.2
constantly==23.10.4
contourpy==1.3.2
cookiecutter==2.6.0
cookiecutter-data-science==2.2.0
cycler==0.12.1
dash==2.18.2
dash-bootstrap-components==1.7.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dash_daq==0.5.0
debugpy==1.8.14
decorator==5.2.1
deepdiff==7.0.1
defusedxml==0.7.1
digautoprofiler==1.0.2
diginlineprofiler==0.1.2
distro==1.9.0
Django==5.2.1
dnspython==2.7.0
dtale==3.17.0
email_validator==2.2.0
emoji==2.14.1
et_xmlfile==2.0.0
executing==2.2.0
fastapi==0.116.1
fastapi-cli==0.0.8
fastapi-cloud-cli==0.1.4
fastjsonschema==2.21.1
feature-engine==1.8.3
Flask==3.1.1
Flask-Compress==1.17
flask-cors==5.0.1
Flask-RESTful==0.3.10
Flask-SocketIO==5.4.1
folium==0.19.6
fonttools==4.58.1
fqdn==1.5.1
fsspec==2025.5.1
future==1.0.0
gevent==24.11.1
gevent-websocket==0.10.1
gitignore_parser==0.1.11
greenlet==3.2.3
gunicorn==23.0.0
h11==0.16.0
holoviews==1.20.2
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
hvplot==0.11.3
hyperlink==21.0.0
idna==3.10
importlib_metadata==8.7.0
importlib_resources==6.5.2
incremental==24.7.2
ipykernel==6.29.5
ipylab==1.0.0
ipython==9.3.0
ipython-genutils==0.2.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.7
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
jiter==0.10.0
jmespath==1.0.1
joblib==1.5.1
json5==0.12.0
jsonpointer==3.0.0
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-highlight-selected-word==0.2.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_contrib_core==0.4.2
jupyter_contrib_nbextensions==0.7.0
jupyter_core==5.8.1
jupyter_nbextensions_configurator==0.6.4
jupyter_server==2.16.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.3
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.15
kagglehub==0.3.12
kaleido==0.2.1
kiwisolver==1.4.8
kthread==0.2.3
lckr_jupyterlab_variableinspector==3.2.4
legacy-cgi==2.6.3
linkify-it-py==2.0.3
lxml==5.4.0
lz4==4.4.4
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.21.2
matplotlib==3.10.3
matplotlib-inline==0.1.7
mdit-py-plugins==0.4.2
mdurl==0.1.2
missingno==0.5.2
mistune==3.1.3
mizani==0.13.5
narwhals==1.41.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.3
nltk==3.9.1
notebook==7.4.3
notebook_shim==0.2.4
numpy==2.2.6
openai==1.97.0
openpyxl==3.1.2
ordered-set==4.1.0
orjson==3.11.0
overrides==7.7.0
packaging==25.0
pandas==2.2.2
pandas-dq==1.29
pandocfilters==1.5.1
panel==1.7.1
param==2.2.1
parso==0.8.4
passlib==1.7.4
patsy==1.0.1
pillow==11.2.1
pipeline==0.1.0
platformdirs==4.3.8
plotly==6.1.2
plotnine==0.14.5
polars==1.30.0
prometheus_client==0.22.0
prompt_toolkit==3.0.51
psutil==7.0.0
pure_eval==0.2.3
py4j==0.10.9.9
pyamg==5.2.1
pyarrow==18.1.0
pycodestyle==2.13.0
pycparser==2.22
pydantic==2.11.7
pydantic-extra-types==2.10.5
pydantic-settings==2.10.1
pydantic_core==2.33.2
Pygments==2.19.1
pymongo==4.7.2
pyparsing==3.2.3
pyspark==4.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-engineio==4.12.2
python-json-logger==3.3.0
python-multipart==0.0.20
python-slugify==8.0.4
python-socketio==5.13.0
pytz==2024.1
pyviz_comms==3.0.5
pywin32==310
pywinpty==2.0.15
PyYAML==6.0.2
pyzmq==26.4.0
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==14.0.0
rich-toolkit==0.14.8
rignore==0.6.4
rpds-py==0.25.1
s3transfer==0.10.4
scikit-learn==1.6.1
scipy==1.15.3
seaborn==0.13.2
Send2Trash==1.8.3
sentry-sdk==2.33.2
setuptools==80.9.0
shellingham==1.5.4
simple-websocket==1.0.0
simpy==4.1.1
six==1.17.0
sniffio==1.3.1
soupsieve==2.7
SQLAlchemy==2.0.30
sqlparse==0.5.3
squarify==0.4.4
stack-data==0.6.3
starlette==0.47.2
statsmodels==0.14.4
strsimpy==0.2.1
sweetviz==2.3.1
taipy==4.0.2
taipy-common==4.0.2
taipy-core==4.0.2
taipy-gui==4.0.2
taipy-rest==4.0.2
taipy-templates==4.0.2
terminado==0.18.1
text-unidecode==1.3
textblob==0.19.0
threadpoolctl==3.6.0
tinycss2==1.4.0
toml==0.10.2
tomlkit==0.13.3
tornado==6.5.1
tqdm==4.67.1
traitlets==5.14.3
Twisted==24.7.0
typer==0.16.0
types-python-dateutil==2.9.0.20250516
typing-inspection==0.4.1
typing_extensions==4.13.2
tzdata==2025.2
tzlocal==5.2
uc-micro-py==1.0.3
ujson==5.10.0
uri-template==1.3.0
urllib3==2.4.0
uvicorn==0.35.0
variable_inspector==1.0.1
varname==0.14.0
watchdog==4.0.1
watchfiles==1.1.0
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
widgetsnbextension==4.0.14
wordcloud==1.9.4
wsproto==1.2.0
xarray==2025.6.1
xgboost==1.6.2
xlrd==2.0.2
xyzservices==2025.4.0
yellowbrick==1.5
youtube-transcript-api==1.2.0
zipp==3.22.0
zope.event==5.1.1
zope.interface==7.2
zstandard==0.23.0
